@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --font-family: 'Poppins', sans-serif;
}

.d-flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

/*!Header*/

header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 39px;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
  transition: border-color 0.6s linear;
  -webkit-transition: border-color 0.6s linear;
  -moz-transition: border-color 0.6s linear;
  -ms-transition: border-color 0.6s linear;
  -o-transition: border-color 0.6s linear;
}

.logo {
  max-width: 82px;
}

.logo img {
  width: 100%;
}

.menuIcon {
  width: 72px;
  height: 40px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-left: 1px solid #d8d8d8;
}

.menuIcon:hover,
.menuIcon:hover .menuSpan {
  color: #da2c18;
}

.menuIcon i {
  width: 18px;
  height: 18px;
}

.menuSpan {
  margin-left: 10px;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-weight: 500;
  color: #171717;
}

.search-input {
  min-height: 40px;
  height: 40px;
  will-change: width, height, transform;
  background-color: #fff;
  display: flex;
  min-width: 41.2%;
  margin-left: 10.1%;
  margin-right: 20px;
  align-items: center;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  border-radius: 21px;
  transition: border-radius 0.3s cubic-bezier(0.29, 0.04, 0.23, 1),
    border-color 0.3s linear, transform 1s ease-out;
  -webkit-transition: border-radius 0.3s cubic-bezier(0.29, 0.04, 0.23, 1),
    border-color 0.3s linear, transform 1s ease-out;
  -moz-transition: border-radius 0.3s cubic-bezier(0.29, 0.04, 0.23, 1),
    border-color 0.3s linear, transform 1s ease-out;
  -ms-transition: border-radius 0.3s cubic-bezier(0.29, 0.04, 0.23, 1),
    border-color 0.3s linear, transform 1s ease-out;
  -o-transition: border-radius 0.3s cubic-bezier(0.29, 0.04, 0.23, 1),
    border-color 0.3s linear, transform 1s ease-out;
}

.search-input form {
  padding: 11px 2px 11px 15px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.search-input form i {
  cursor: pointer;
  width: 18px;
  height: 18px;
  color: black;
  padding-top: 1px;
  padding-left: 1px;
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}

.search-input form i:hover {
  color: #da2c18;
}

.search-input input {
  margin-left: 15px;
  border: none;
  outline: none;
  line-height: 18px;
  letter-spacing: -0.28px;
  font-size: 14px;
  font-weight: 500;
  color: #171717;
  width: 100%;
  text-overflow: ellipsis;
}

.userPage {
  margin-left: auto;
  margin-right: 0;
  padding-right: 26px;
}

.userIcon {
  height: 20px;
  cursor: pointer;
}

.userIcon i {
  padding-top: 1px;
}

.userIcon i:hover {
  color: #da2c18;
}

.rightGroup {
  display: flex;
  align-items: center;
  margin-right: 0;
  transition: transform 0.2s linear, visibility 0.2s linear;
  -webkit-transition: transform 0.2s linear, visibility 0.2s linear;
  -moz-transition: transform 0.2s linear, visibility 0.2s linear;
  -ms-transition: transform 0.2s linear, visibility 0.2s linear;
  -o-transition: transform 0.2s linear, visibility 0.2s linear;
}

.compIconWrapper {
  display: flex;
  flex-direction: row;
}

.iconWrapper {
  border-left: 1px solid #d8d8d8;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 26px 0 29px;
  width: 22px;
  height: 45px;
  cursor: pointer;
  color: #171717;
  text-decoration: none;
}

.iconWrapper:hover {
  color: #da2c18;
}

.icwrap2 {
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.cartIcon {
  padding: 0 5px 0 16px;
  border-right: 1px solid #d8d8d8;
  height: 45px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none!important;
  color: black;
}

.cartIcon:hover{
    color: #da2c18;
}

.cartWrapper{
    width: 34px;
    height: 19px;
    position: relative;
}

.langIcon{
    width: 18px;
    height: 18px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.langName{
    margin-left: 11px;
    font-weight: 500;
    color: #171717;
    line-height: 17px;
}

.languageSwitcher{
    min-width: 77px;
    width: auto;
    display: flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    margin-left: 26px;
}

.languageSwitcher:hover,
.languageSwitcher:hover .langName{
    color: #da2c18;
}

.arrowIcon{
    margin-left: 7px;
    cursor: pointer;
    width: 12px;
    height: 8px;
    display: flex;
    align-items:center;
    justify-content:center;
}

/*!Header End*/

.infoLinksBar{
    margin: 20px 39px 0;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}

.discountLink{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    border-right: 1px solid #d8d8d8;
    width: calc(100%/4);
    text-decoration: none;
}

.discountLink span{
    line-height: 18px;
    font-weight: 500;
    color: #171717;
}

.discountLink:hover,
.discountLink:hover span{
color: #da2c18;
text-decoration: underline;
}

.monthlyPayment{
    display: flex;
    justify-content: center;
    flex: 3 1;
}

.monthlyPaymentButton{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    width: calc(100%/4);
    text-decoration: none;
    background: none;
    border: none;
}

.monthlyPaymentButton:hover span{
color: #da2c18;
text-decoration: underline;
}

.monthlyPaymentButton span{
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 500;
}

.introGroup{
    margin: 0 39px 90px;
}

.homeIntroProducts{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-top: 15px;
}

.desktopSidebar{
    display: block;
    min-width: calc(100%/4 * 1);
    height: 100%;
    z-index: 2;
    border-color: rgb(216, 216, 216);
    border-radius: 10px;
}

.menuWrap{
 width: 100%;
 min-width: 100%;
 height: 465px;
 position: relative;
 overflow-y: scroll;
 overflow-x: hidden;
border:1px solid rgb(216, 216, 216);
border-radius: 10px;
}

.menuNav>ul{
    list-style: none;
}

.menuNav > ul > li{
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.menuNav > ul > li:hover{
    transform:translateX(10px) ;
    -webkit-transform:translateX(10px) ;
    -moz-transform:translateX(10px) ;
    -ms-transform:translateX(10px) ;
    -o-transform:translateX(10px) ;
}

.menuLink{
    text-decoration: none;
    color: #171717;
    border: none;
    height: 76px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 0 29px 0 30px;
    overflow-x: hidden;
}

.menuLink:hover{
    text-decoration: underline;

}

.menuButton{
    outline: none;
    display: flex;
    width: 100%;
    align-items: center;
    background-color: transparent;
    height: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    padding: 0;
}

.menuButton span{
    text-decoration: none;
    padding-right: 5px;
    text-align: left;
    width: 70%;
    max-height: 36px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #171717;
}

/*!Swiper Slide*/

.swiper{
    height: 465px!important;
    width: 100%!important;
    margin-left: 10px!important;
    overflow: hidden!important;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
}

.swiper-slide{
    width: 475px!important;
    padding: 0 5px;
    height: 100%;
}

.swiper-slide >img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*!SellLiders*/

.sellLiders{
    padding: 0 39px 90px;
}

.sec2Header{
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    color: #171717;
}

.sellNav{
    margin-top: 33px;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 24px;
    overflow: auto;
}

.sellNav > ul{
    display: flex;
    flex-wrap: wrap;
    padding: 17px 0 15px;
    list-style: none;
}

.sellNav > ul > li > button{
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #171717;
    margin-right: 48px;
    background: 0 0;
    outline: none;
    border: none;
    position: relative;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: normal;
    cursor: pointer;
    border-bottom: none;
}

.sellNav > ul > li > button> span {
    font-size: 15px;
    font-weight: 500;
    color: #171717;
    line-height: 17px;
}


.sellNav> ul>li>.active, .btn:hover {
border-bottom: 2px solid #da2c18;
  }

.cardsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card{
    width: 300px;
    min-height: 487px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 23px 20px 20px;
    position: relative;
    margin-top: 10px;
    margin-right: 10px;
}

.cardImg{
    height: 250px;
    width: 250px;
    padding: 50px 5px 5px;
    text-align: center;
}

.card:hover .cardImg img{
    transform: scale(.9);
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.cardImg >  img{
    width: 100%;
    object-fit: contain;
}

.productName{
    text-decoration: none;
    line-height: 20px;
    height: 40px; 
    color: #000;
    font-size: 14px;
}

.productName:hover{
    text-decoration: underline;
}

.cardInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: auto;

    align-items: flex-start;
    justify-content: space-between;
}

.discountPrice{
    font-weight: 500;
    color: #171717;
    font-size: 20px;
    margin: 7px 0;
}

.creditInfo{
    margin-top: 7px;
    font-size: 12px;
    line-height: 18px;
    min-height: 23px;
    height: 23px;
    padding: 0 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.priceBlock{
    width: 100%;
}

.card button{
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #d8d8d8;
    outline: none;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card:hover button{
    background-color: #da2c18;
    color: #fff;
}

.card:hover button:hover{
    background-color: #c71213;
    color: #fff;
}

.moreButton{
    margin: 46px auto ;
    padding-bottom: 24px;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    text-align: center;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 500;
    color: #171717;
    width: 100%;
    background-color: transparent;
    outline: none;
    display: block;
}

.moreText{
    font-size: 12px;
    font-weight: 500;
    color: #171717;
    line-height: 17px;
}

.moreButton i{
    margin-left: 10px;
    vertical-align: middle;
}

/*!Discountnews*/

.discountNewsButton{
    height: 42px;
    width: auto;
    padding: 12px 21px;
    border: 1px solid #dbdbdb;
    border-radius: 21px;
    background-color: #fff;
    display: flex;
    text-decoration: none;
    margin-left: 35px;
    font-size: 14px;
    cursor: pointer;
}

.discountNewsButton i{
    margin-left: 10px;
}

.discountNewsButton:hover i{
    color: #da2c18;
    transform:translateX(5px) ;
    -webkit-transform:translateX(5px) ;
    -moz-transform:translateX(5px) ;
    -ms-transform:translateX(5px) ;
    -o-transform:translateX(5px) ;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.partnorHeader{
    padding-bottom: 32px;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 41px;
}

/*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/
/*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/
/*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/ /*!Partners*/

.brandBox{
    min-width: 312px!important;
    width: 312px!important;
    height: 164px!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    border: 1px solid #d8d8d8!important;
    border-radius: 10px!important;
    -webkit-border-radius: 10px!important;
    -moz-border-radius: 10px!important;
    -ms-border-radius: 10px!important;
    -o-border-radius: 10px!important;
    margin-right: 10px!important;
}

.brandBox img{
    width: 200px;
}

.videoContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    z-index: 1;
    width: 100%;
}

.youtubePlayer{
    height: 519px;
    max-width: 66%;
    border: 1px solid black;
}

footer{
    padding: 0 41px 44px;
    height: auto;
    position: relative;
    background: #1c1c1c;
}

.baseContent{
    transform: translateY(0px);
    padding-top: 5px;
    padding-bottom: 85px;
    display: flex;
    border-bottom: 1px solid #3f4144;

}

.contentItem {
    min-width: 224px;
    width: auto;
    display: flex;
    flex-direction: column;
    margin-right: 94px;
    margin-top: 55px;
}

.contentHeader {
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.contentItem ul {
    list-style: none;
    margin-top: 60px;
}

.contentItem >ul> li {
    width: fit-content;
}

.contentItem > ul > li > a{
    display: block;
    text-decoration: none;
    margin-top: 12px;
    color: #ffffff;
    cursor: pointer;
    font-family: Montserrat,Arial,Helvetica,sans-serif;
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.contentItem ul li a:hover {
    text-decoration: underline;
}

.contacts{
    margin-top: 55px;
}

.geoFlex{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.phoneNumber, .mapLink{
    text-decoration: none;
    color: #ffffff;
}

.phoneNumber:hover, .mapLink:hover {
    text-decoration: underline;
}

.contactBottom{
    transform: translateY(0);
    padding: 34px 0 37px;
    border-bottom: 1px solid #3f4144;
    display: flex;
}

.bottomHeader{
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.36px;
}

.mailForm{
    margin-top: 30px;
    display: flex;
    align-items: center;
    position: relative;
padding-bottom: 70px;
}

.inputComponent{
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    width: 314px;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 11px 9px 16px;
    background: #fff;
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 500;
    color: #171717;
}

.contactInput{
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 97% center;
    cursor: auto;
    font-size: 12px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    line-height: 18px;
    letter-spacing: -.28px;
    font-weight: 500;
    color: #171717;
    padding: 0 5px 0 0;
}

.submitButton{
    width: 144px;
    height: 50px;
    margin-left: 10px;
    color: #fff;
    cursor: default;
    border-radius: 10px;
    border: none;
    background-color: #c9c9c9;
    transition: background-color .3s linear;
    overflow: hidden;
    position: relative;
}

.socialLink{
    margin-left: 482px;
}

.socialsItem > h4{
    font-weight: 500;
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -.36px;
}

.socialIcons{
    margin: 16px 0 39px;
    display: flex;
}

.socialIcon{
    height: 100%;
    display: inline-block;
    margin-right: 10px;
}

.iconImg{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.paymentMethods{
    margin-top: 15px;
}

.methodImage{
    width: 41px;
    height: 25px;
    margin-right: 12px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.copyRight > div{
    color: #fff;
    margin-top: 22px;
    line-height: 18px;
    letter-spacing: -.28px;
    font-size: 14px;
    font-weight: 500;
}